[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[color]
	ui = 1
[pager]
	status = yes
[url "ssh://comprock@review.typo3.org:29418"]
	pushInsteadOf = git://git.typo3.org
[user]
	name = Michael Cannon
	email = michael@axelerant.com
